<!DOCTYPE html>
<html>
  <head>
    <title>Yapo</title>
    <meta charset="utf-8">
       
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>

      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   
          
  </head>

  <body>
    
  	<% if user_signed_in? %>
		<ul>
		  	<li>
		  		<%=link_to  "Cerrar sesión", destroy_user_session_path, method: :delete%>
		   	</li>
  	</ul>
  	<% end %>
    
  	<!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <div class="container">
      <%= yield %>
    </div>
    



  </body>
</html>
